# Python
__pycache__/
*.pyc
.venv/
venv/
backend/venv/

# Local data / db
*.db
data/
backend/scripts/data/
backend/tests/data/
frontend/public/
frontend/node_modules/

# macOS
.DS_Store

# "copy" files
* 2.py
* 2.jsx
* 2.md
* 2.txt

# Build Artifacts & Grammars
*.so
backend/grammars/